@use "./variables"as*;
@use "./typography"as*;

.error {
    margin: 0;
    padding: .25rem;
    color: $error-state;
    @include body-small;
    display: flex;
    align-items: center;
    &__icon {
        height: 1rem;
        width: 1rem;
        margin-right: .25rem;
    }
    &__input {
        border: 1px solid $error-state;
    }
}