@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.inventory-list {
    &__top {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1.5rem 1rem;  
        border-bottom: 1px solid $outline-dividers-borders;
        
        @include tablet {
            border-bottom: 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 2rem 1.2rem;
        }

        @include desktop {
            padding: 2rem 2.3rem 1.2rem;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 1rem;

        @include tablet {
            margin:0;
        }
    }

    &__right {
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: right;
            width: 50%;
        }
    }

    &__input {
        padding: .4rem 1rem;
        border-radius: 1.25rem;
        outline: none;
        border: 1px solid $outline-dividers-borders;
        font-family: $titillium-web;  
        width: 100%;          
        @include body-medium;
        background: url(../../assets//images/search-24px.svg) no-repeat scroll;
        background-position: 95% 50%;

        @include tablet {
            padding: .5rem 1rem;
            width: 65%;
            margin-right: 1rem;
        }
    }

    &__link {
        text-decoration: none;
        
    }

    &__edit-button {
        @include buttons;
        background-color: $inactive;
        color: $primary-background;
        border-radius: 1.25rem;
        border: none;
        padding: .4rem 1rem;
        width: 100%;
        margin-top: .9rem;
        text-align: center;

        @include tablet {
            padding: .5rem 1rem;
            margin: 0;
            min-width: max-content;
        }
    }

}
    