@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.newWarehouse-form {
    &__header {
        flex-basis: 100%;
        display: flex;
        padding: 1rem 1.5rem;
        border-bottom: 1px solid $outline-dividers-borders;
        margin-bottom: .5rem;
        align-items: baseline;
        @include tablet {
            margin-bottom: 1rem;
            padding: 1.5rem 2rem 1rem 2rem;
        }
    }
    &__back {
        margin-right: .25rem;
        transform: translate(-4px, 2px);

        @include tablet {
            margin-right: 1rem;
        }
    }
    &__title {
        margin: 0;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
    }
    &__section {
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        @include tablet {
            flex-basis: 50%;
        }
        &--left {
            border-bottom: 1px solid $outline-dividers-borders;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            @include tablet {
                padding: 0 2rem;
                border-right: 1px solid $outline-dividers-borders;
                border-bottom: none;
            }
        }
    }
    &__subtitle {
        margin-top: 0;
        @include tablet {
            margin-top: 1rem;
        }
        @include desktop {
            margin-top: .5rem;
        }
    }
    &__label {
        margin: .5rem 0;
        display: flex;
        flex-direction: column;
        @include labels;
        @include tablet {
            margin: 1rem 0;
        }
    }
    &__input {
        padding: .5rem 1rem;
        margin-top: .25rem;
        border-radius: 1.25rem;
        outline: none;
        border: 1px solid $outline-dividers-borders;
        font-family: $titillium-web;            
        @include body-medium;
        &:focus {
            border-color: $inactive;
        }

        &--error {
            border: 1px solid $error-state;
        }
    }

    &__footer {
        flex-basis: 100%;
        background-color: $page-background;
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        margin-top: 1.5rem;
        flex-wrap: wrap;
        @include tablet {
            padding: 1rem 2rem;
            margin-top: .5rem;
        }
    }
    &__button {
        @include buttons;
        border-radius: 1.25rem;
        background-color: $inactive;
        border: none;
        color: $primary-background;
        padding: .5rem 1rem;
        flex-grow:1;
        @include tablet {
            flex-grow: 0;
        }

        &--cancel {
            text-decoration: none;
            background-color: $primary-background;
            border: 1px solid $outline-dividers-borders;
            color: $primary-text;
            margin-right: 1rem;
            text-align: center;

            &:hover {
                border: 1px solid $inactive; 
            }
        }
    }

    &__button--before{
        &:hover {
            background-color: $cta-hover; 
        }

    }
    
    &__error {
        color: $error-state;
        @include body-small;
        flex-basis: 100%;
        justify-self: flex-end;
        text-align: end;
        font-style: italic;
        margin: .5rem;

        &--success {
            color: $in-stock-label;
        }
    }

}

