@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    padding-bottom: 11rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    @include tablet {
        flex-wrap: nowrap;
        justify-content: space-between;
       
    }

    &__link {
        width:100%;
        text-align: center;
        margin:16px 0;
        @include tablet {
            width:50%;
        }
    }
    &__nav {
        width:100%;
        justify-content: center;
        display:flex;
        gap:24px;
        margin:0 16px;
        @include tablet {
            width: auto;
        }

    }
    &__link-nav {
        width:50%;
        text-align: center;
        text-decoration:none;
        color:$table-header;
        border-radius:24px;
        padding:8px 0;
    }
    &__link-nav:hover {
        background-color:$header-hover-background;
    }
    &__logo {
        width:25%;
        @include tablet {
            margin-right: auto;
            width: auto;
        }
    
    }
}

.active {
    color:$primary-background;
    background-color: $header-hover-background;
}