@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    padding-bottom: 13rem;

    @include tablet {
        padding-bottom: 8.75rem;
    }

    @include tablet {
        flex-wrap: nowrap;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include tablet {
            justify-content: space-between;
        }

        @include desktop {
            max-width: 63.75rem;
            margin: auto;
        }
    }

    &__link {
        width: 100%;
        text-align: center;
        margin: 1.5rem 2rem;

        @include tablet {
            width: 35%;
            text-align: left;
        }
        @include desktop {
            margin: 1.5rem 0;
        }
    }

    &__nav {
        width: 100%;
        justify-content: center;
        display: flex;
        gap: 24px;
        margin: 0 2rem;

        @include tablet {
            width: 40%;
            align-items: center;
        }
        @include desktop {
            margin: 0;
        }

        //align-items: center;
    }

    &__link-nav {
        width: 50%;
        text-align: center;
        text-decoration: none;
        color: $table-header;
        border-radius: 24px;
        padding: 8px 0;
    }

    &__link-nav:hover {
        background-color: $header-hover-background;
    }

    &__logo {
        width: 25%;

        @include tablet {
            width: 50%;
        }
    }
}

.active {
    color: $primary-background;
    background-color: $header-hover-background;
}