@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;



.warehouse {
   &__header {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid $outline-dividers-borders;

    &-input {
        width: 100%;
        padding: .3rem 1rem;
        margin-top: .25rem;
        margin-bottom: 1rem;
        border-radius: 1.25rem;
        outline: none;
        border: 1px solid $outline-dividers-borders;
        font-family: $titillium-web;
        background-image: url('../../assets/images/search-24px.svg'); 
        background-repeat: no-repeat; 
        background-position: center;
        background-position: right; 
              
        @include body-medium;
        &:focus {
            border-color: $inactive;
        }
    }
    

    &-button {
        width: 100%;
        @include buttons;
        border-radius: 1.25rem;
        background-color: $inactive;
        border: none;
        margin-bottom: 1rem;
        color: $primary-background;
        padding: .5rem 1rem;
        flex-basis: 50%;
        @include tablet {
            flex-basis: auto;
        }
    }
   }

   &__card {
    
    border-bottom: 1px solid $outline-dividers-borders;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    @include body-small;

    &-title {
        margin-bottom: 0;
        margin-top: 0;
    }

    &-info {
        margin: 0;
        width: 80%;
    }

    &-link {
        color: $inactive;
        text-decoration: none;
        font-weight: 700;
        display: flex;
    }

    &-arrow {
        height: 1rem;
        width: 1rem;
    }

    &-item {
        width: 50%;
        margin-bottom: 0.5rem;
    }

    &-icons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

   }

}