@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.footer {
    margin: auto 2rem 0 2rem;
    text-align:center;
    color: $table-header;
    @include tablet {
        margin-bottom: 2.5rem;
        margin-top: auto;
    }
}