@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.card {
    padding: 0 1.5rem; 
    border-top: 1px solid $outline-dividers-borders;
    display: flex;
    flex-wrap: wrap;
        
    @include tablet {
        padding: 1rem 2rem;
        flex-wrap: nowrap;
    }

    @include desktop {
        padding: 0 2.3rem;
    }

    &__right {
        padding-left: .5rem;

        @include tablet {
            padding-left: 0;
        }
    }

    &__key-pair {
        width: 50%;

        @include tablet {
            width: fit-content;
            height: fit-content;
        }
    }

    &__item {
        @include tablet {
            order: -2;
            width: 24%;
        }
    }

    &__category {
        @include tablet {
            order: -1;
            width: 19%;
        }
    }

    &__status {
        @include tablet {
            width: 30.2%;
        }
    }

    &__qty {
        @include tablet {
            width: 18.8%;
        }
    }

    &__label {
        margin-bottom: 0.25rem;
       font-size: 0.6rem;

       @include tablet {
            display: none;
       }
    }

    &__status-label {
        margin-bottom: 0.12rem;
    }

    &__content {
        @include body-small;
        margin: 0;

        @include tablet {
            @include body-medium;
            margin-bottom: .2rem;
        }
    }

    &__title {
        font-weight: 600;
    }

    &__in-stock {
        @include in-stock;
    }

    &__out-of-stock {
        @include out-of-stock;
    }

    &__item-name {
        color: $inactive;
        text-decoration: none;
    }

    &__title-container {
        display: flex;
        align-items: center;
    }

    &__title-icon {
        width: 1rem;
        height: 1rem;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: .5rem 0 1rem;
        width: 100%;

        @include tablet {
            padding: 0;
            width: 8%;
        }
    }

    &__icon {
        width: 1.2rem;
    }
}