@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");

/* Resets*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $titillium-web;
  background-color: $page-background;

  min-height: 100vh;
}

/* Typography*/
h1 {
  font-size: 1.6rem;
  line-height: 2.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $table-header;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

.app-header {
  height: 100px;
  background-color: $header-background;
  margin: 0;
}

.background {
  width: 100%;
  background-color: transparent;
  &__card {
    background-color: $primary-background;
    margin-top: 8rem;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
    margin-left: 1rem;
    margin-right: 1rem;
    @include tablet {
      margin-top: 6rem;
      margin-left: 2rem;
      margin-right: 2rem;  
    }
    @include desktop {
      max-width: 63.75rem;
      margin: 6.5rem auto 0 auto;
    }
    // the heading below 👇 is for testing purposes
    // and needs to be removed when we start using the real components
    // & h1 {
    //   margin: 0;
    //   padding-bottom: 5rem;
    // }
  }
}